<div>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <div class="container">
      {{#link-to 'index' class="navbar-brand" }}FullStack Challenge{{/link-to}}

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            {{#link-to 'households' class="nav-link"}}Households{{/link-to}}
          </li>
        </ul>
        {{#link-to 'households.new' class="btn btn-outline-success"}}New Household{{/link-to}}
      </div>
    </div>
  </nav>

  <div class="container">
    {{outlet}}
  </div>
</div>
